In [15]:
from googleapiclient.discovery import build
import pymongo
import psycopg2
import pandas as pd
import streamlit as st

In [19]:
# Api key connection

def Api_connect():
    Api_Id = "AIzaSyB2q0r7ZEiQAIIVNYE9K9oX66P5_cKiMbg"
    
    api_service_name = "youtube"
    api_version = "v3"
    
    youtube = build(api_service_name,api_version,developerKey = Api_Id)
    
    return youtube

youtube = Api_connect()

In [20]:
# youtube id

# SWS = "UChGd9JY4yMegY6PxqpBjpRA"
# mr.GK = "UC5cY198GU1MQMIPJgMkCJ_Q"
# madhan = "UCY6KjrDBN_tIRFT_QNqQbRQ"
# mind set = "UCE29ThAlxcPr-rrDIqsJh3w"
# all in one tamil = "UC_KRxRsrVu-gRhJT5E7-xaw"

In [74]:
# get channels inforamtion

def get_channel_info(channel_id):
    
    request = youtube.channels().list(
                part = "snippet,contentDetails,statistics",
                id = channel_id
    )
    response = request.execute()

    for i in response['items']:
        data = dict(Channel_Name = i ["snippet"]["title"],
                    Channel_Id = i["id"],
                    Subscribers = i["statistics"]["subscriberCount"],
                    Views = i["statistics"]["viewCount"],
                    Total_Videos = i["statistics"]["videoCount"],
                    Channel_Description = i["snippet"]["description"],
                    Playlist_Id = i["contentDetails"]["relatedPlaylists"]["uploads"])
        
    return data

In [75]:
channel_details = get_channel_info("UC5cY198GU1MQMIPJgMkCJ_Q")

In [76]:
channel_details

{'Channel_Name': 'Mr. GK',
 'Channel_Id': 'UC5cY198GU1MQMIPJgMkCJ_Q',
 'Subscribers': '1390000',
 'Views': '200479661',
 'Total_Videos': '507',
 'Channel_Description': 'Please contact me thru my mail id given below.\n\nFollow us on my social media:\nWhatsApp: https://whatsapp.com/channel/0029VaA23u5IHphLuhO3LM01\nYoutube: https://www.youtube.com/MrGKTamil\nFacebook: https://www.facebook.com/MrGKTamil\nTwitter: https://twitter.com/Mr_GK_Tamil\nInstagram: http://instagram.com/Mr_Gk_Tamil\nTelegram: https://t.me/MrGkGroup\n',
 'Playlist_Id': 'UU5cY198GU1MQMIPJgMkCJ_Q'}

In [127]:
# get video ids

def get_videos_ids(channel_id):
    
    video_ids=[]
    response=youtube.channels().list(id = channel_id,
                                    part='contentDetails').execute()
    Playlist_Id=response['items'][0]['contentDetails']['relatedPlaylists']['uploads']

    next_page_token=None
    
    while True:
        response1 = youtube.playlistItems().list(
            part = 'snippet',
            playlistId = Playlist_Id,
            maxResults=50,
            pageToken=next_page_token).execute()
        
        for i in range(len(response1['items'])):
            video_ids.append(response1['items'][i]['snippet']['resourceId']['videoId'])
        next_page_token = response1.get('nextPageToken')
        if next_page_token is None:
            break
        
    return video_ids

In [132]:
Video_Ids = get_videos_ids('UC5cY198GU1MQMIPJgMkCJ_Q')

In [165]:
Video_Ids

['Oyvyr1xfWGo',
 'uyhbvrDpXqg',
 'gK1fJYbUYpY',
 '1UWBvcg3aeg',
 'WcsRO3xkOE0',
 'axkMySv29j8',
 'EnNDeV8ZTqQ',
 'Yz-uD-kP7og',
 'ewGh3gzt0zI',
 'NWFA-km1rJY',
 'soj3Z0WPoA0',
 'YVN_MfiP0Bc',
 'KQYSiSo7q-4',
 'gzf_5ReWwNs',
 'v6MhhxmAPKU',
 'V1444BVE71o',
 'yTlFCdG2eAc',
 'i5T2ARz05oA',
 'JtS4sZYiBCI',
 '0WWIEXcijwY',
 'EVxiuXV_OxM',
 'UVLXcaRx0lU',
 'cfKWEHk1oWc',
 '9Haiiar8x0g',
 'oUL3Pb3ImbQ',
 'hnsmfdNSPv0',
 '4cuQuKoKKNo',
 'a1kVpra4_Z4',
 'rf6JCKZCaXo',
 'QuZ-tyY877Y',
 'e4t2WAhGr08',
 'jRDDvpkKQAk',
 'hua0FANT_-E',
 'OAJbMwp0ruU',
 'K1WVzZmDEoo',
 'UnqoTiWXUBo',
 'PuL_CP_Vr5s',
 'DHMv_7WNSl4',
 'Dp1hC-p_do0',
 '2jXqIfic1U8',
 'lhiI5slH81U',
 'OrqdeC6_OnA',
 '9ROJBtbni_g',
 'r9xv8ZsCpT4',
 'c3peKw--wmE',
 'ooV9WAxtTU0',
 'QKmnSh0XE1o',
 'Lsbexi-6KRw',
 'hP38eGcmX6c',
 'IND1IkA-M-o',
 'LMuAa43tD2w',
 'LGEVX7UBZfI',
 '1fHl6m54w9Q',
 'UI3HKcPda9g',
 'sS5mbtg87JM',
 'PmGQ1n-9Pqs',
 'i6JREnRGAKA',
 'OS8tc7UqoH8',
 'lpaR7sKCAdA',
 'gz-RIZXvFNE',
 'Vm6MoiKL_FA',
 '3Sxl3YUMOAs',
 'DL_vHEiG6UA',
 'Ar3gbUp0mZY',
 'w9igFZ3EXxU',
 'av1l4ilAmn4',
 'eo21a38SJY8',
 'aEZNo7DgKjs',
 'F1H7rOV--Ig',
 'Y7CRGOTfTpQ',
 'E09EALx1E98',
 'RXRQWWYfoH4',
 'P6by2MQCVGo',
 '-_0cDXrzFFU',
 'Xsv701Y3WrA',
 'AEmxj3IB4gc',
 'xSxeW3q8jPU',
 '7UZrdyenkzw',
 'TfsyzFKHAF4',
 'ZGkXZ5RKB38',
 'ynQWJYs_P6M',
 'pfrz0aIdpVk',
 'cv4IESR6RIY',
 'wjXDFz4fSXs',
 'UJ7GV9laatI',
 'jxkxW3gazUY',
 'hEcJBZ7Bbtw',
 'mf2JaqjWcuU',
 'EnYhN_d2zgU',
 'Faa_ti10n1o',
 'HbKO4RiON3g',
 '0gn8Uht_I9s',
 'my_77tHgFj8',
 'pM5MUCBBopo',
 'eHVCRepERlA',
 'sEiqA63acSU',
 'vCHAXXcD7Vk',
 '-y2PCb3kTg4',
 'Qelj5G-PHE0',
 'gml0mQEhFv8',
 'ydGLqqgAcYo',
 'QYTko-gZ_d8',
 'IGe7Ma7uBOE',
 'Fk4sVR1jbT4',
 'l1kcU7xrooM',
 'ImHakmL25Oo',
 't6TtAw91c3Q',
 'J1y2faphuNc',
 'qKAhkbUnXC8',
 'ykD5wvngnlw',
 '3WCDd-oRkDU',
 '9F4ngDMx0KE',
 'ucF0fKNMIWo',
 'GdANVP3nZ44',
 'Y1214zndIYc',
 '8EubWDMLh5E',
 'wOe6UleLldw',
 '0T6nDXhjdIg',
 'R0MqUZXK0YY',
 '6bFEo12lDUI',
 'nwww5AGlcm8',
 'cSBODBnklE8',
 'tkkW8Fim_-E',
 'O6esI4tVFgA',
 'QbtiSF3I3vE',
 'Zs96fOzaesE',
 'fXRGKtBQc8o',
 'frhgd3bKxC4',
 'OYfnL1An0Es',
 '3aSbwokiXU8',
 'yuLU15seGtM',
 '2GWU-j--xjs',
 'l5EUm8VvHiQ',
 'r77bNXgrsVM',
 '70Wzz-DGs_k',
 'LkUkkILzQHo',
 'uccTdEQmCmw',
 'mJDIkRALYlQ',
 'km0h5HggVvc',
 'SRDWFqsr_PY',
 'Jo3PErElJ6k',
 'GeXuyIIr_6c',
 '4DSFTtFXo0c',
 'U2tev_CSR3A',
 'QqqsExmJfhw',
 'tkVH7_S3CvY',
 'jlke3WEoMB8',
 'aGJap845iAc',
 'vJEoU14Y4M0',
 'v4BzvyDT4bA',
 'AZhoKgMf_og',
 'ThvCWBplDbM',
 'iJy5-fRJtFM',
 'IdLoBjXChtk',
 'TXcO9Yt_f-I',
 'RYltu_N-6A8',
 '8_F3s_tSzBM',
 'VEQNvVdf7e4',
 'HhYYdVX8EZw',
 'TPlol6PqJ2Q',
 'DrC4Nje1yTI',
 'dmjXz50XEgc',
 '6K0rScPDeDk',
 'c0bZDiTpJiE',
 'B8LycujzUwk',
 'Z-K3nxHHgdE',
 'wXGGnAha2K8',
 'q1D4gg4DZEw',
 'cd9HeGmpz9Y',
 'pCcUjdb3heA',
 'kCMjVEDzCwk',
 'AsFDxy19ybA',
 'v6_V66QdSCA',
 '_QdkcS0v36k',
 'B6cOg78047w',
 '0qdEBeqqTVE',
 'JoPFFz1lFWM',
 '5FFNBLr0NYI',
 'dl5zhPaPjj8',
 'AJDAd__kJsI',
 'dAJd_n23EuI',
 'C7nowyxWbTM',
 'r4k2szmiLAE',
 'R-lKljug9vM',
 'Ak8UZQZR6QE',
 'ctv_VPdu8AI',
 '76q4eDs3eRo',
 'FNhvfIeDOio',
 'ieiBvTzD1bY',
 'GPWuzhi6SlE',
 'uSlu_wZAOz4',
 'Oj1U6ed8xDQ',
 'SvpFIapoq-k',
 'sS5jb5k0fu0',
 'LxxMUbp9Tp0',
 'he2Ep8WO9R0',
 'cZ5T3dv6Zgw',
 'gtPiO0xxtfI',
 'y_soTrzTMTk',
 'it3p6oBLhVE',
 'Z7WF0xHhe4o',
 'peSFR3A_zU8',
 'wEVs2dl1Bs8',
 'zbu6p5EROs4',
 'O6eDW1NRm2Q',
 'IvDlwDzbSPk',
 'r9btw1Nn5yY',
 '88wqChGF5SU',
 'Bt6UDH7Gtho',
 'Be83FPugCZ8',
 '68btgsNJ9fM',
 'hilD8X_RA8Q',
 '32uvRGOvUvc',
 'Eu19oRQeGM0',
 '9pXDdiC_FJ0',
 'PQXShsdeNF8',
 '3DKMFH00zyc',
 'SOnyg-ac-dM',
 '6xfc3ybbx1Y',
 'BjRcSbwe9xI',
 '2kp8_bn2sn8',
 'ilAITLjRUJ0',
 'puVOCOkUXB0',
 'rvM55dO23qc',
 'sFmfAiZqWkM',
 'qeDj6B3Jjfk',
 'FkwhpbWPQbY',
 'S2XFzSCY01o',
 'vINgnw8hwXo',
 'OPiljcYFx0o',
 '0cum_ZUmdug',
 'kcxaHL7bFo4',
 't9sjtrKqcCY',
 'b76_hZi-TkA',
 'lKEMZCC7aQI',
 '4OKejU30vRo',
 '6IzbaaB_a50',
 'FWaECcflIrM',
 '_23-ZCGXeBc',
 'C3QGSjdQqTs',
 'UlCb1uhtNzs',
 'ntWBF-ojmhk',
 'ln9QHMgZMaM',
 'uSQ66RehOI4',
 'pYxQVNHFej0',
 'Zjk5yvBw1-M',
 'JEzomm_gTSw',
 'OGpYJpzgaG8',
 '4xbPgGcTHyw',
 'jXTT31rUqcM',
 'TjFefjz2kHk',
 'PH54RrD-4OA',
 'yOaWdxscO7g',
 '0KnbPmqkbrI',
 'UVvVVfGoH18',
 'YMjTAjhMR-k',
 'xeH5pRpd4DA',
 'GFEJWdoaBhM',
 'njm_YJyj5Tg',
 'Ym8WEiBo1VI',
 'Cf4yGGhndZI',
 '4-LlZ93IkkI',
 'ehjYIj8CuQU',
 'mIl0eoUK6X8',
 '4_j1A8nz7RQ',
 'JYi2_4rwXpw',
 'fRBaDXGwBco',
 '4ZcG1mFpu5k',
 'A-5W5UhIOHQ',
 'xbHQ2Wd8SCU',
 'jPeduPjByfk',
 'vQsMIJDQdIw',
 '92Z9az6u3Dw',
 'P-kvLQDO82s',
 'IQy7LFqb3UA',
 'bWQJGa8y33A',
 'P-2fOxuE0VE',
 'Mluw4kEZPUE',
 'LSdpp8QR1qk',
 'LbYW6MDnuQY',
 'TXEcIzVv7v8',
 'xGGiKVoKWVo',
 'yGBrHpF28go',
 'kIH3RfkXYI4',
 'EmU18Q79lPs',
 'iPakHtvn07o',
 'OKJkTx9Z-6w',
 'nzwpGVg2D5Q',
 'tkT7MHpdBo0',
 'lON_z-Uhp-o',
 '9VroBCfFSxI',
 'fIqWQUTsmeY',
 '9-FCy3OJpzM',
 '4GXGBc5mxCk',
 'rk5xy0zbXaI',
 'ExgZaLz1Q3I',
 '_7uorqQmvV0',
 '6IMPBbDYlaQ',
 'NeHPTpf3xqQ',
 'ckgv6Iaufuc',
 'Mr1SA1Obcy8',
 '6uNQdrxl4vA',
 'pHhemIT3Wzo',
 'NmrA9sDN7Lw',
 'Mm2C9f42_es',
 'MDYgLQliD_4',
 'pSLddCa3WYw',
 'FTczMnkj5Mk',
 'bL09SBjs8DU',
 'iAoECgigEp8',
 'pS_hgi0ih04',
 'SJlbqD84ydY',
 'TtovN1SAYgA',
 'vDnrmK7ybZk',
 'rtt8gao_S6M',
 '1Mga6uAg8F4',
 '6oFiZ4k8GOg',
 'gD8dWhET7IM',
 'WCir-6ZhGQw',
 'd0-V3U-OWyg',
 'DX2lJW6DhXQ',
 'QVy_SgMwpZc',
 'YlmIljcKoRk',
 'zxcOHUfvzSs',
 'FnvOtCI4R4A',
 'gcbye_9bxrw',
 'wJZCKjmZVxM',
 'E2bpkEXuOJ0',
 '7OZ8m_NBQR4',
 'Wi-DYwY6Bg0',
 'FNfkm4gyqqE',
 'f98UnomrXqw',
 'wKuvfrEKtvA',
 'qfQ_ebkK06k',
 'kJ_EZYyR4GE',
 'd7HG0mksUGk',
 'ShRtRvtxXQo',
 'V2PjDBzyxqg',
 '5rOCgRkEsyQ',
 '8L_-B1hHl0A',
 'DQOux8X0ERQ',
 'k_0krL10uS0',
 'cipoF7BhipI',
 'n06bFk4_9Us',
 'VGQdVN5z5Ac',
 'PlA3w3d7Q-g',
 'm7YU4xZiwDg',
 'su4-s4yASjI',
 'StBRkOXYmqs',
 'knmqSmulIQM',
 'FbIibPTZMM4',
 'EvpD3T80vo8',
 'xlzALf674mk',
 'MJ5Fj6mVDjA',
 'sosTXcHYtWc',
 '-Stk-Ha-n7c',
 'eatWxAzQ7uE',
 '9hCGAKfolqg',
 'B0emxcB205Y',
 '0gSj2DyAOjE',
 '4Ow1hbXLqSQ',
 'Rg_RwHq6_iw',
 'LlzhRvSAIMc',
 'Isp8YQ5_tG4',
 'Z5wqSIMVT2U',
 'ZSaTnAjWdvs',
 'arXlsOsSgmk',
 'bg1_QsdRcvM',
 'aA0ENf5X7l8',
 'X0024YnObUs',
 'N97653MBlmM',
 'S9fNbxiLG2s',
 'qWPEGajVSCA',
 '5s3pKdgYf5I',
 'ZunhAUxjTXQ',
 'AndT768Qx00',
 'hopK5-ND3Q4',
 'nl26EdU2Mj0',
 '7s26aOtcJwM',
 'Whf3p5zOU-c',
 'CPkjZYflq90',
 'jc7MqhxK7BY',
 '91aYWK0dEg4',
 'X-ijZcbC_RE',
 'FBhqDhOxb-0',
 'RfVhTJ61-d0',
 '-QTQmR7uA_4',
 'og8d9jJJvrU',
 '4-6zBotsi-s',
 '2y94W6oacRM',
 'WfCOXC-F8Eo',
 'L1UVwf8KlH4',
 'PNwW2w2rhO4',
 'THtT4bJJueg',
 'TOw5benzokE',
 'dYUiZKteQHU',
 'lyIHDehf5LE',
 'kphFoHoqxqg',
 '4znVu0JDjkE',
 'T-tVhNfNlE4',
 'eQSNznbOEhE',
 'Zxpigk36uqs',
 '4kKn0TDpF_o',
 '0TS6bZXuv8A',
 'qOKbSF6_ETQ',
 'KVji1ms5u7E',
 '3G-1o4_v7JI',
 'nNoWZQmec50',
 '0_AXUyU6CCc',
 '0FRJ_Oxx2jY',
 'lAMr2-BZLk4',
 '_3TSRdrCIu8',
 'XTVNsqDuCRQ',
 'UlJjPEAbUt4',
 'jKZ_3LUHzF4',
 'F296wKKrGdw',
 'wsRmWkCFeGU',
 'WzV4FBeHxm8',
 'aDOtL62N5c4',
 'ND1NkHMLL40',
 'zWOR52DOdPI',
 'dZQuWBMKq4U',
 'orDwSn2eWVU',
 'xfeK_KoYVc8',
 '0bSmyaBRQgY',
 'BqW52_wnNdQ',
 'azWOvdLIpOs',
 '6iLYJYgEXJg',
 'asFr4PvIOSo',
 'x92uBHL1l34',
 'RJ-A3x74K7E',
 'a6h8oyEIESc',
 'sdRt8KREW5c',
 'oAvZkReSpNQ',
 'eOaJ7v1CGVc',
 '0d0SsgmwZsc',
 'LxYPE8qLiGo',
 'COu0YEyrmv8',
 'oXcZXEdycuM',
 'GJWbC1U8-7c',
 'I4Hi760tYl0',
 'dpWCFZoyjcg',
 'GROHKep4vNE',
 'wWgmVqRRtpE',
 'oBfeKjYQTu4',
 '__LMopRry6w',
 'A6E33cWPJy0',
 'nWB_NQWTUIc',
 '3FoEs4T4NtA',
 'IGHEa3TCfgU',
 'b-vEgomWzl8',
 '_KhINLMk7Tk',
 '7c0TLZTA9LA',
 'eE1GQxnX80k',
 'zIzEVrNiHBs',
 '1mL_8tNXU4I',
 'yFuLFhJxp28',
 'fSaREGRiFIw',
 'pW37jJcy-N8',
 'tsLBmrs_lj8',
 'aCwWi8NKBpM',
 'M4jTS4l61fI',
 'bQKIir3Njhs',
 'KhxP-Tydg6A',
 'swkauxcT72U',
 'DWtxBQbka4g',
 '7itPvfuaT6A',
 'hRZirXr_J9Q',
 'ZDam09HoBl8',
 'IZK6cnJ8Lts',
 '1whnbD2re1E',
 'QHppz7heeD4',
 'vIhRedn3EWw',
 'vMYKUB9a8Sk',
 'tA4ATmIqo_k',
 '6IWAkmXa5RU',
 'ABonH40YFPc',
 '5RxgMz0b_84',
 '8Pam1a8tFhY',
 'lyCy0NEeuNE',
 '8kCtUDckGZ8',
 '40D5QQfw628',
 'QI30smnGzy8',
 'utT9LFUteF8',
 '-FYFYXTPvXU',
 'bfDH_wfna3w',
 'Fdl7jsW1ahU',
 'IjKcmx9crMA',
 'tgR8i9d9XNY',
 'ufUWekmQ9iQ',
 'PefYPTbuuSg',
 'eDA7fM0ePyI',
 '9TpLFzihviw',
 'keICo6GJ0yM',
 '1ImH0tqGuXQ',
 'Kzwdqf2HIeg',
 'pGLNVyuRgwI',
 'DCkanQG6Iek',
 'R2mKVD-LC94',
 'Ap_HTQ4h7GU',
 'Wmi9XJD59Us',
 'LP5raSGSCd8',
 'EbfW4V6fUh0',
 'sAubE9aVbGY',
 'ZC1OupAs0zo',
 'DcRCQ0Z90lA',
 'iid_tOLz3vA']

In [270]:
#get video information

def get_video_info(video_ids):
    
    video_data = []

    for video_id in video_ids:
        request = youtube.videos().list(
            part="snippet, Content Details, statistics",
            id=video_id
        )
        response = request.execute()

        for item in response["items"]:
            data = dict (Channel_Name = item['snippet']['channelTitle'],
                        Channel_Id = item['snippet']['channelId'],
                        Video_Id = item['id'],
                        Title = item['snippet']['title'],
                        Tags = item['snippet'].get('tags'),
                        Thumbnail = item['snippet']['thumbnails']['default']['url'],
                        Description=item['snippet'].get('description'),
                        Published_Date = item['snippet']['publishedAt'],
                        Duration = item['contentDetails']['duration'],
                        Views = item['statistics'].get('viewCount'),
                        Likes = item['statistics'].get('likeCount'),
                        Comments = item['statistics'].get('commentCount'),
                        Favorite_Count =item['statistics']['favoriteCount'],
                        Definition = item['contentDetails']['definition'],
                        Caption_Status=item['contentDetails']['caption']
                        )
            video_data.append(data)
            
    return video_data

In [167]:
video_details = get_video_info(Video_Ids)

In [168]:
len(video_details)

507

In [188]:
#get comment information

def get_comment_info(video_ids):
    
    Comment_data=[]
    try:
        for video_id in video_ids:
            request = youtube.commentThreads().list(
                part = "snippet",
                videoId = video_id,
                maxResults = 50
            )
            response= request.execute()
            
            for item in response['items']:
                data = dict(Comment_Id=item['snippet']['topLevelComment']['id'],
                        Video_Id = item['snippet']['topLevelComment']['snippet']['videoId'],
                        Comment_Text = item['snippet']['topLevelComment']['snippet']['textDisplay'],
                        Comment_Author = item['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                        Comment_Published = item['snippet']['topLevelComment']['snippet']['publishedAt'])
                
                Comment_data.append(data)
        
    except:
        pass
    
    return Comment_data

In [189]:
comment_details = get_comment_info(Video_Ids)

In [191]:
len(comment_details)

7751

In [197]:
#get playlist_details
def get_playlist_details(channel_id):
    
    next_page_token = None
    
    All_data=[]
    
    while True:
        request = youtube.playlists().list(
                part = 'snippet, content Details',
                channelId = channel_id,
                maxResults = 50,
                pageToken = next_page_token
        )
        response = request.execute()
        
        for item in response['items']:
            data = dict(Playlist_Id = item['id'],
                    Title = item['snippet']['title'],
                    Channel_Id = item['snippet']['channelId'],
                    Channel_Name = item['snippet']['channelTitle'],
                    PublishedAt = item['snippet']['publishedAt'],
                    Video_Count = item['contentDetails']['itemCount'])
                    
            All_data.append(data)
        next_page_token=response.get('nextPageToken')
        
        if next_page_token is None:
            break
        
    return All_data

In [198]:
playlist_details = get_playlist_details("UCY6KjrDBN_tIRFT_QNqQbRQ")

In [200]:
len(playlist_details)

56

In [16]:
client = pymongo.MongoClient("mongodb+srv://chandru3:guvi2024@cluster0.ozipta1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = client["Youtube_data"]

In [5]:
all_channel = []
db=client ["Youtube_data"]
coll1=db["channel_details"]
for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
    all_channel.append(ch_data['channel_information']['Channel_Name'])

In [ ]:
all_channel

In [17]:
single_channel_detail = []
db=client ["Youtube_data"]
coll1=db["channel_details"]
for ch_data in coll1.find({"channel_information.Channel_Name": "Mr. GK"},{"_id":0}):
    single_channel_detail.append(ch_data['channel_information'])
    
df_single_channel_detail = pd.DataFrame(single_channel_detail)

In [18]:
df_single_channel_detail

,Channel_Name,Channel_Id,Subscribers,Views,Total_Videos,Channel_Description,Playlist_Id
0,Mr. GK,UC5cY198GU1MQMIPJgMkCJ_Q,1390000,200479661,507,Please contact me thru my mail id given below....,UU5cY198GU1MQMIPJgMkCJ_Q

In [230]:
def channel_details(channel_id):
    ch_details = get_channel_info(channel_id)
    pl_details = get_playlist_details(channel_id)
    vi_ids = get_videos_ids (channel_id)
    vi_details = get_video_info(vi_ids)
    com_details = get_comment_info(vi_ids)
    
    coll1 = db["channel_details"]

    coll1.insert_one({"channel_information": ch_details, "playlist_information": pl_details,
                  "video_information" :vi_details,"comment_information": com_details})


    return "upload completed successfully"

In [ ]:
# youtube id

# SWS = "UChGd9JY4yMegY6PxqpBjpRA"
# mr.GK = "UC5cY198GU1MQMIPJgMkCJ_Q"
# tamil business po = "UCy1lBBbXhtfzugF_LK2b6Yw"

In [273]:
insert = channel_details("UCy1lBBbXhtfzugF_LK2b6Yw")

In [25]:
#Table creation for channels, playlists, videos, comments

def channels_table(channel_name_s):

    mydb = psycopg2.connect(host="localhost",
                            user="postgres",
                            password="3159",
                            database="youtube_data",
                            port="5432")
    cursor = mydb.cursor()



    
    create_query='''create table if not exists channels (Channel_Name varchar(100),
                                                        Channel_Id varchar(80) primary key,
                                                        Subscribers bigint,
                                                        Views bigint,
                                                        Total_Videos int,
                                                        Channel_Description text,
                                                        Playlist_Id varchar(80))'''
    cursor.execute(create_query)
    mydb.commit() 
        
    
        
        
        
    single_channel_detail = []
    db=client ["Youtube_data"]
    coll1=db["channel_details"]
    for ch_data in coll1.find({"channel_information.Channel_Name": channel_name_s},{"_id":0}):
        single_channel_detail.append(ch_data['channel_information'])
    df_single_channel_detail = pd.DataFrame(single_channel_detail)



    for index,row in df_single_channel_detail.iterrows():
        insert_query = '''insert into channels(Channel_Name,
                                                Channel_Id,
                                                Subscribers,
                                                Views,
                                                Total_Videos,
                                                Channel_Description,
                                                Playlist_Id)
                                                
                                                values(%s,%s,%s,%s,%s,%s,%s)'''                                        
        values = (row['Channel_Name'],
                row['Channel_Id'],
                row['Subscribers'],
                row['Views'],
                row['Total_Videos'],
                row['Channel_Description'],
                row['Playlist_Id'])
        
        
       
        cursor.execute(insert_query, values)
        mydb.commit()

In [26]:
channels_table("Tamil Business Podcast")

In [34]:
single_playlist_details = []
db=client ["Youtube_data"]
coll1=db["channel_details"]
for ch_data in coll1.find({"playlist_information.Channel_Name": "Mr. GK"},{"_id":0}):
    single_playlist_details.append(ch_data['playlist_information'])
    
df_single_playlist_details = pd.DataFrame(single_playlist_details[0])

In [35]:
df_single_playlist_details

,Playlist_Id,Title,Channel_Id,Channel_Name,PublishedAt,Video_Count
0,PLxdgXbLZbN8j_qRsd5WWS0hEsvnavBOQ0,Chandrayaan,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2023-12-29T13:23:15Z,9
1,PLxdgXbLZbN8g2hLZhv49c0fZJRAU5Q7lP,Sci-Show,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2023-02-03T09:58:51Z,5
2,PLxdgXbLZbN8jPleDWvmrm0Vvwy9LtRsRf,Another Side,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2023-01-20T08:39:26Z,1
3,PLxdgXbLZbN8icOYFJ4NdRGqGk7Ha6MT_w,ESP (Ennenna Solranga Parunga),UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-10-23T08:26:42Z,18
4,PLxdgXbLZbN8iNTq0sMy0bWwkiwQIDlH6c,NASA,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-10-06T04:23:58Z,18
5,PLxdgXbLZbN8grQZert0NgelRgonebWSYg,Elon Musk,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-10-06T04:23:46Z,7
6,PLxdgXbLZbN8jCDUGUDKMj8sjLJIn9-grT,Rocketry,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-10-05T12:36:17Z,23
7,PLxdgXbLZbN8hHezgtuMYvFYfHKM1rFvTe,ISRO,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-10-05T12:36:09Z,21
8,PLxdgXbLZbN8iLxDBaPPwlMF9PHF60lzqc,Telescope,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-09-24T12:26:29Z,6
9,PLxdgXbLZbN8jNomPOlcj4jga1wBx_4b5k,James Webb Space Telescope,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-07-13T18:02:21Z,9
10,PLxdgXbLZbN8gX_VMqu4WZ3oMYDr-vjAnl,Science Memes,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-06-23T12:57:36Z,2
11,PLxdgXbLZbN8ggK3E1q_zflEA4mi9ua1Fs,Moon Missions,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-06-04T05:11:00Z,17
12,PLxdgXbLZbN8jbUqV0z_DUyCHXV3cdVsf0,Disasters,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-03-24T04:19:07Z,14
13,PLxdgXbLZbN8hX-HhurNO7OjBbiTIL5QKk,Time Travel,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-03-12T14:21:31Z,12
14,PLxdgXbLZbN8hAjQYX7nya23MRePC8s9dQ,Puzzles,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2022-01-05T06:28:43Z,3
15,PLxdgXbLZbN8jpnvkDZcajRKphxzgIRjpe,Animals,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2021-10-20T05:58:04Z,12
16,PLxdgXbLZbN8gsJftm0eucYVBEgIMquXVu,Shorts,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2021-10-16T14:44:19Z,85
17,PLxdgXbLZbN8g-vGZb0Nytc21v5r9tSxeF,Weekly Science News,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2021-07-20T08:07:30Z,6
18,PLxdgXbLZbN8g4F4tdtjYnyOh88YpP7ZRR,Ghost,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2021-06-26T10:40:55Z,7
19,PLxdgXbLZbN8gD4srT5oxK43hqzTdsc_vY,Myths Debunked,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2021-03-11T02:43:06Z,55
20,PLxdgXbLZbN8iotwYz8U-oPE4gn9wC7E5_,Science Toys & DIY Experiments,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2020-11-28T11:50:39Z,10
21,PLxdgXbLZbN8iGjKAYsLI4Cmfcag4BtOxq,Quantum,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2020-05-21T09:02:37Z,9
22,PLxdgXbLZbN8iOnyKLDcWWyaIK6bQGnpjy,🔴Live Quiz,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2020-03-27T15:12:29Z,5
23,PLxdgXbLZbN8icjVXw66wErrMLYBygnOMp,Space & Astronomy,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2020-02-16T06:38:13Z,202
24,PLxdgXbLZbN8hQ1EUWhtRuXb-nO7iWFZQJ,Science Fiction movies,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2019-10-06T07:38:38Z,18
25,PLxdgXbLZbN8h1NR6MSeWlpU75X3u5bV0j,Mathematics,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2019-08-07T15:25:21Z,12
26,PLxdgXbLZbN8iToV61ATGmzSzpUtE59hUJ,Wow Facts,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2019-06-01T03:07:00Z,23
27,PLxdgXbLZbN8jbB2UX3BFkt3qODML5Ff09,Brain & Psychology,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2019-03-13T02:46:50Z,32
28,PLxdgXbLZbN8j9EjEJ7aGaJjG3Oxp-Ok8Y,LIVE,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2019-03-02T11:40:30Z,12
29,PLxdgXbLZbN8hKms6eC3o8ZfZ4hyRYUwvY,Junior GK,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2019-01-31T17:43:27Z,22
30,PLxdgXbLZbN8hLhqM3yPvrqrbceKuHSbK6,Aliens,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2018-11-05T18:52:57Z,20
31,PLxdgXbLZbN8gM0zAgeItlWtuq9UTqHkFm,Art,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2018-10-19T15:27:33Z,10
32,PLxdgXbLZbN8jfVcmq8-vBaAJOsSpcmtTb,Evolution,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2018-09-26T11:07:06Z,11
33,PLxdgXbLZbN8h4aAN8_hBbn3OC5ALjyeRb,Medicine,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2018-06-15T17:27:51Z,27
34,PLxdgXbLZbN8ipBrGyVV9pWx95QpOsbope,Interviews,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2018-06-11T07:06:31Z,10
35,PLxdgXbLZbN8gSs3i-bIXViUiGCpQEQ7HK,Social Thoughts,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2018-05-08T12:38:08Z,17
36,PLxdgXbLZbN8hMGAyhXiDFnw3mQHUeLGwj,Science,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2018-01-06T01:27:09Z,393
37,PLxdgXbLZbN8ihXDt0S6yqc_PjUBTDzXDV,Movies,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2017-08-12T10:00:14Z,25
38,PLxdgXbLZbN8iKCpm85-yxhkOv19SJZEcF,History,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2017-08-12T09:58:06Z,55
39,PLxdgXbLZbN8i9-K46Dhd1q4P4LNbfjflf,Tips & Tricks,UC5cY198GU1MQMIPJgMkCJ_Q,Mr. GK,2017-08-12T09:55:56Z,12

In [40]:
# playlist convert to table

def playlist_table(channel_name_s):
    
    mydb = psycopg2.connect(host="localhost",
                            user="postgres",
                            password="3159",
                            database="youtube_data",
                            port="5432")
    cursor = mydb.cursor()


    create_query='''create table if not exists playlists (Playlist_Id varchar(100) primary key,
                                                        Title varchar(100),
                                                        Channel_Id varchar(100),
                                                        Channel_Name varchar(100),
                                                        PublishedAt timestamp,
                                                        Video_Count int)'''
                                                        

    cursor.execute(create_query)
    mydb.commit() 
    
    
    single_playlist_details = []
    db=client ["Youtube_data"]
    coll1=db["channel_details"]
    for ch_data in coll1.find({"playlist_information.Channel_Name": channel_name_s},{"_id":0}):
        single_playlist_details.append(ch_data['playlist_information'])
        
    df_single_playlist_details = pd.DataFrame(single_playlist_details[0])


    for index,row in df_single_playlist_details.iterrows():
        
        insert_query = '''insert into playlists(Playlist_Id,
                                                Title,
                                                Channel_Id,
                                                Channel_Name,
                                                PublishedAt,
                                                Video_Count
                                                ) 
                                                   
                                                    
                                                values(%s,%s,%s,%s,%s,%s)'''                                        
        
        values = (row['Playlist_Id'],
                row['Title'],
                row['Channel_Id'],
                row['Channel_Name'],
                row['PublishedAt'],
                row['Video_Count'])

       
        cursor.execute(insert_query, values)
        mydb.commit()

In [42]:
playlist_table("Mr. GK")

In [43]:
single_video_details = []
db=client ["Youtube_data"]
coll1=db["channel_details"]
for ch_data in coll1.find({"video_information.Channel_Name": "Mr. GK"},{"_id":0}):
    single_video_details.append(ch_data['video_information'])
    
df_single_video_details = pd.DataFrame(single_video_details[0])

In [ ]:
df_single_video_details

In [46]:
# video convert to table

def videos_table(channel_name_s):
        mydb = psycopg2.connect(host="localhost",
                                user="postgres",
                                password="3159",
                                database="youtube_data",
                                port="5432")
        cursor = mydb.cursor()


        create_query='''create table if not exists videos (Channel_Name varchar(100),
                                                        Channel_Id varchar(100),
                                                        Video_Id varchar(50) primary key,
                                                        Title varchar(200),
                                                        Tags text,
                                                        Thumbnail varchar(300),
                                                        Description text,
                                                        Published_Date timestamp,
                                                        Duration interval,
                                                        Views bigint,
                                                        Likes bigint,
                                                        Comments int,
                                                        Favorite_Count int,
                                                        Definition varchar(20),
                                                        Caption_Status varchar(100)
                                                        )'''
                                                        

        cursor.execute(create_query)
        mydb.commit() 


        single_video_details = []
        db=client ["Youtube_data"]
        coll1=db["channel_details"]
        for ch_data in coll1.find({"video_information.Channel_Name": channel_name_s},{"_id":0}):
                single_video_details.append(ch_data['video_information'])
        
        df_single_video_details = pd.DataFrame(single_video_details[0])



        for index,row in df_single_video_details.iterrows():
                
                insert_query = '''insert into videos(Channel_Name,
                                                        Channel_Id,
                                                        Video_Id,
                                                        Title,
                                                        Tags,
                                                        Thumbnail,
                                                        Description,
                                                        Published_Date,
                                                        Duration,
                                                        Views,
                                                        Likes,
                                                        Comments,
                                                        Favorite_Count,
                                                        Definition,
                                                        Caption_Status 
                                                        ) 
                                                        
                                                        
                                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''                                        
                
                values = (row['Channel_Name'],
                        row['Channel_Id'],
                        row['Video_Id'],
                        row['Title'],
                        row['Tags'],
                        row['Thumbnail'],
                        row['Description'],
                        row['Published_Date'],
                        row['Duration'],
                        row['Views'],
                        row['Likes'],
                        row['Comments'],
                        row['Favorite_Count'],
                        row['Definition'],
                        row['Caption_Status']
                        )

        
                cursor.execute(insert_query, values)
                mydb.commit()

In [48]:
videos_table("Mr. GK")

In [49]:
single_comments_details = []
db=client ["Youtube_data"]
coll1=db["channel_details"]
for ch_data in coll1.find({"channel_information.Channel_Name": "Mr. GK"},{"_id":0}):
        single_comments_details.append(ch_data['comment_information'])

df_single_comment_details = pd.DataFrame(single_comments_details[0])

In [55]:
df_single_comment_details

,Comment_Id,Video_Id,Comment_Text,Comment_Author,Comment_Published
0,UgzP102F1dIrXAk7vO14AaABAg,Oyvyr1xfWGo,"Chat with me on\r<br>WhatsApp: <a href=""https:...",@MrGKTamil,2024-03-15T15:54:31Z
1,UgyVlxWlN_oa7to0HrZ4AaABAg,Oyvyr1xfWGo,Best criticizer award to our love Mr. GK ❤,@amomslittlespace,2024-03-16T09:24:20Z
2,UgxbCYJcn-ahhqMZMIt4AaABAg,Oyvyr1xfWGo,Nov vera level ya ne,@LAZARSELVA,2024-03-16T09:22:38Z
3,UgweW5pNmkCNenxT6Dt4AaABAg,Oyvyr1xfWGo,👏👏👏👏👏👏,@user-tl4qv9jo5t,2024-03-16T09:20:26Z
4,Ugzt_BDURfdMxEu_Gkh4AaABAg,Oyvyr1xfWGo,Anna yuvika system in ISRO video 😊,@junglebook4277,2024-03-16T09:17:28Z
...,...,...,...,...,...
7746,UgzVHgHCMJM8-LG5qDB4AaABAg,TPlol6PqJ2Q,pavam antha 1wife 😥,@mrservicegymcare4122,2023-07-11T00:46:47Z
7747,UgwL9E5v3n5cIjQWHRh4AaABAg,TPlol6PqJ2Q,Ulagam ariyaatha unmai epdi ungalukku therinch...,@Dude-999,2023-06-29T15:34:58Z
7748,UgzJIX2xk14SWq0dDPp4AaABAg,TPlol6PqJ2Q,Sir Upload a video of Srinivasa Ramanujam Sir...,@PrahaladhMKP,2023-05-19T09:15:48Z
7749,Ugwy1ft8fK7Mh0YYbpl4AaABAg,TPlol6PqJ2Q,Openheimer,@jefrin,2023-04-21T13:48:54Z
7750,Ugy0E34IaOCnyVR4Zr54AaABAg,TPlol6PqJ2Q,Kalpana chawla pathi podung,@m.balajim.balaji8814,2023-04-12T14:55:49Z

In [57]:
# comment convert to table

def comments_table(channel_name_s):

        mydb = psycopg2.connect(host="localhost",
                                user="postgres",
                                password="3159",
                                database="youtube_data",
                                port="5432")
        cursor = mydb.cursor()


        create_query='''create table if not exists comments (Comment_Id varchar(100) primary key,
                                                        Video_Id varchar(100),
                                                        Comment_Text text,
                                                        Comment_Author varchar(200),
                                                        Comment_Published timestamp
                                                        )'''
                                                        

        cursor.execute(create_query)
        mydb.commit() 

        single_comments_details = []
        db=client ["Youtube_data"]
        coll1=db["channel_details"]
        for ch_data in coll1.find({"channel_information.Channel_Name": channel_name_s},{"_id":0}):
                single_comments_details.append(ch_data['comment_information'])

        df_single_comment_details = pd.DataFrame(single_comments_details[0])


        for index,row in df_single_comment_details.iterrows():
                insert_query = '''insert into comments(Comment_Id,
                                                Video_Id,
                                                Comment_Text,
                                                Comment_Author,
                                                Comment_Published
                                                ) 
                                                        
                                                        
                                                values(%s,%s,%s,%s,%s)'''                                        
        
        values = (row['Comment_Id'],
                row['Video_Id'],
                row['Comment_Text'],
                row['Comment_Author'],
                row['Comment_Published'])

        
        cursor.execute(insert_query, values)
        mydb.commit()

In [59]:
comments_table("Mr. GK")

In [418]:
# all tables

def tables():
    channels_table()
    playlist_table()
    videos_table()
    comments_table()
    
    return "Tables Created Successfully"

In [309]:
Tables = tables()

In [310]:
Tables

'Tables Created Successfully'

In [419]:
def show_channels_tables():

    ch_list = []
    db=client ["Youtube_data"]
    coll1=db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_list.append(ch_data["channel_information"])
        
    df = st.dataframe(ch_list)
    
    return df

In [420]:
def show_playlists_tables():
    
    pl_list = []
    db=client ["Youtube_data"]
    coll1=db["channel_details"]
    for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
            pl_list.append(pl_data["playlist_information"][i])
    df1 = st.dataframe(pl_list)
    
    return df1

In [421]:
def show_videos_tables():

    vi_list = []
    db=client ["Youtube_data"]
    coll1=db["channel_details"]
    for vi_data in coll1.find({},{"_id":0,"video_information":1}):
            for i in range(len(vi_data["video_information"])):
                    vi_list.append(vi_data["video_information"][i])
    df2 = st.dataframe(vi_list)
    
    return df2

In [422]:
def show_comments_tables():

    com_list = []
    db=client ["Youtube_data"]
    coll1=db["channel_details"]
    for com_data in coll1.find({},{"_id":0,"comment_information":1}):
            for i in range(len(com_data["comment_information"])):
                    com_list.append(com_data["comment_information"][i])
    df3 = st.dataframe(com_list)
    
    return df3

In [423]:
# streamlit part

with st.sidebar:
    st.title(":red[YOUTUBE DATA HAVERSTING AND WAREHOUSING]")
    st.header("Skill take Away")
    st.caption("Python Scripting")
    st.caption("Data Collection")
    st.caption("MongoDB")
    st.caption("API Integration")
    st.caption("Data Management using MongoDB and SQL")
    
channel_id = st.text_input("Enter the channel ID")

if st.button("collect and store data"):
    ch_ids = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for ch_data in coll1.find({},{"_id":0, "channel_information":1}):
        print(ch_data["channel_information"]["Channel_Id"])
        
    if channel_id in ch_ids:
        st.success("Channel Details of the given id already exists")
    else:
        insert = channel_details(channel_id)
        st.success(insert)

if st.button("Migration to Sql"):
    Table = tables()
    st.success(Table)
    
show_table = st.radio("SELECT THE TABLE FOR VIEW",("CHANNELS","PLAYLISTS","VIDEOS","COMMENTS"))

if show_table == "CHANNELS":
    show_channels_tables()
elif show_table == "PLAYLISTS":
    show_playlists_tables()
elif show_table == "VIDEOS":
    show_videos_tables()
elif show_table == "COMMENTS":
    show_comments_tables()

In [464]:
# SOL Connection

mydb = psycopg2.connect(host="localhost",
                        user="postgres",
                        password="3159",
                        database="youtube_data",
                        port="5432")
cursor = mydb.cursor()

question = st.selectbox("Select your question",("1. What are the names of all the videos and their corresponding channels?",
                                                "2. Which channels have the most number of videos, and how many videos do they have?",
                                                "3. What are the top 10 most viewed videos and their respective channels?",
                                                "4. How many comments were made on each video, and what are their corresponding video names?",
                                                "5. Which videos have the highest number of likes, and what are their corresponding channel names?",
                                                "6. What is the total number of likes and dislikes for each video, and what are their corresponding video names?",
                                                "7. What is the total number of views for each channel, and what are their corresponding channel names?",
                                                "8. What are the names of all the channels that have published videos in the year 2022?",
                                                "9. What is the average duration of all videos in each channel, and what are their corresponding channel names?",
                                                "10. Which videos have the highest number of comments, and what are their corresponding channel names?"))

if question == "1. What are the names of all the videos and their corresponding channels?":
    query1 = '''select title as videos,channel_name as channelname from videos'''
    cursor.execute(query1)
    mydb.commit()
    t1 = cursor.fetchall()
    df1 = pd.DataFrame(t1,columns=["video title", "channel name"])
    st.write(df1)

elif question == "2. Which channels have the most number of videos, and how many videos do they have?" :
    query2 = '''select channel_name as channelname,total_videos as no_videos from channels order by total_videos desc'''
    cursor.execute(query2)
    mydb.commit()
    t2 = cursor.fetchall()
    df2 = pd.DataFrame(t2,columns=["channel name", "No of videos"])
    st.write(df2)  
 
elif question == "3. What are the top 10 most viewed videos and their respective channels?" :
    query3 = '''select views as views,channel_name as channelname,title as videotitle from videos where views is not null order by views desc limit 10'''
    cursor.execute(query3)
    mydb.commit()
    t3 = cursor.fetchall()
    df3 = pd.DataFrame(t3,columns=["views", "channel name","videotitle"])   
    st.write(df3) 
    
elif question == "4. How many comments were made on each video, and what are their corresponding video names?" :
    query4 = '''select comments as no_comments,title as videotitle from videos where comments is not null'''
    cursor.execute(query4)
    mydb.commit()
    t4 = cursor.fetchall()
    df4 = pd.DataFrame(t4,columns=["No of comments", "videotitle"])  
    st.write(df4)
    
elif question == "5. Which videos have the highest number of likes, and what are their corresponding channel names?":
    query5 = '''select title as videotitle,channel_name as channelname, likes as likescount from videos where likes is not null order by likes desc'''
    cursor.execute(query5)
    mydb.commit()
    t5 = cursor.fetchall()
    df5 = pd.DataFrame(t5,columns=["videotitle", "channelname","likecount"])  
    st.write(df5)
    
elif question == "6. What is the total number of likes and dislikes for each video, and what are their corresponding video names?":
    query6 = '''select likes as likecound,title as videotitle from videos'''
    cursor.execute(query6)
    mydb.commit()
    t6 = cursor.fetchall()
    df6 = pd.DataFrame(t6,columns=["likecount","videotitle"])  
    st.write(df6)
    
elif question == "7. What is the total number of views for each channel, and what are their corresponding channel names?":
    query7 = '''select channel_name as channelname, views as totalviews from channels'''
    cursor.execute(query7)
    mydb.commit()
    t7 = cursor.fetchall()
    df7 = pd.DataFrame(t7,columns=["channel name","totalviews"])  
    st.write(df7)
    
elif question == "8. What are the names of all the channels that have published videos in the year 2022?":
    query8 = '''select title as video_title,published_date as videorelease,channel_name as channelname from videos where extract(year from published_date) = 2022'''
    cursor.execute(query8)
    mydb.commit()
    t8 = cursor.fetchall()
    df8 = pd.DataFrame(t8,columns=["videotitle","published_data","channel name"])  
    st.write(df8)
    
elif question == "9. What is the average duration of all videos in each channel, and what are their corresponding channel names?":
    query9 = '''select channel_name as channelname, AVG(duration) as averageduration from videos group by channel_name'''
    cursor.execute(query9)
    mydb.commit()
    t9 = cursor.fetchall()
    df9 = pd.DataFrame(t9,columns=["channelname","averageduration"])  
    st.write(df9)

    T9 = []
    for index,row in df9.iterrows():
        channel_title = row["channelname"]
        average_duration = row["averageduration"]
        average_duration_str = str(average_duration)
        T9.append(dict(channeltitle = channel_title,avgduration = average_duration_str))
    df1 = pd.DataFrame(T9)
    st.write(df1)

elif question == "10. Which videos have the highest number of comments, and what are their corresponding channel names?":
    query10 = '''select title as videotitle, channel_name as channelname,comments as comments from videos where comments is not null order by comments desc'''
    cursor.execute(query10)
    mydb.commit()
    t10 = cursor.fetchall()
    df10 = pd.DataFrame(t10,columns=["video title","channel name", "comments"])  
    st.write(df10)

In [462]:
mydb = psycopg2.connect(host="localhost",
                        user="postgres",
                        password="3159",
                        database="youtube_data",
                        port="5432")
cursor = mydb.cursor()

#if question == "10. Which videos have the highest number of comments, and what are their corresponding channel names?":
query10 = '''select title as videotitle, channel_name as channelname,comments as comments from videos where comments is not null order by comments desc'''
cursor.execute(query10)
mydb.commit()
t10 = cursor.fetchall()
df10 = pd.DataFrame(t10,columns=["video title","channel name", "comments"])  
st.write(df10)

In [463]:
df10

,video title,channel name,comments
0,Zee Tamil தமிழா தமிழாவில் நடந்தது என்ன? | Tham...,Mr. GK,9718
1,கடவுள் இருக்கிறாரா? அறிவியல் என்ன சொல்கிறது? ...,Mr. GK,6751
2,New Logo! | My family! | RishiPedia! | 3 Surpr...,Mr. GK,6259
3,Who am i? Real name of Mr.GK | 100th Video,Mr. GK,5751
4,6÷2(1+2) = ? Viral Math Puzzle Solved! | Mr.GK,Mr. GK,4888
...,...,...,...
813,21. Keeladi & Nanotechnology - Scientific trut...,Science With Sam - அறிவியல் அறிவோம் !,0
814,TAMIL BUSINESS IDEAS | BUSINESS IDEAS 2024 | B...,Tamil Business Podcast,0
815,🔥Amazing ISRO Rocket Toys On Amazon😮 | Science...,Mr. GK,0
816,பசங்கள வச்சு MLM வேலை பாப்பியா நீ🤨 | Parithaba...,Parithabangal Highlights,0
817,Unknown Story behind Interstellar - in Tamil |...,Mr. GK,0